*{
    margin: 0px;
    padding: 0px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    
    background-color: rgb(52, 73, 94)
}
.menu-container{
    
}
.items{
    display: flex;
    list-style: none !important;
}
.item{
    margin-right: 20px;
    padding: 10px;
    font-size: 20px;
    color: whitesmoke;
}
.item a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    transform: translate();
}
.item a:hover{
    color: whitesmoke;
    background-color: rgb(133, 146, 158);
    border-radius: 10%;
    transition: 1s;
}

/* banner container */
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.banner-heading{
    font-size: 85px;
    margin-bottom: 10px;
    color: white !important;
}
.primary{
    color: rgb(240,12,12);
}
.descreption{
    font-size: 22px;
    width: 50%;
    margin: auto;
}
.banner-btn{
    margin-top: 20px;

}
.btn{
    padding: 15px 35px;
    border: none !important;
    border-radius: 4px !important;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transform: translate();
}
.primary-btn{
    background-color: red ;
    color: white ;
    margin-right: 8px;
}
.btn:hover{
    transform: scale(1.1);
    transition: 1s;
    background-color: blueviolet;
    color: white;
}
/* service section */

.service-container{
    width: 100%;
    background-image: url("./asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,0.97), rgba(0,0,0,0.96));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
    padding-top: 90px;
    display: flex;
    align-items: center;
}

.service-heading{
    font-size: 40px;
    margin-top: 10px;
}
.service-desc{
    font-size: 23px;
    margin-top: 18px;
}
.service-ol{
    margin: 28px 0px 40px 10px;
    
}
.service-ol li{
    font-size: 18px;
}
.author-section{
    display: flex;
    justify-content: start;
    align-items: center;
}
.author-desc{
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 20px;
    border-right: 2px solid red !important;
}
.author-section div img{
    border-radius: 100%;
    width: 96px;
    height: 96px;
    margin-right: 10px ;
    
}
.author-details{
    font-size: 20px;
}

.service-items{
    padding: 50px;
    background-color: white;
    box-shadow: 4px 4px 8px gray;
    width: 210px;
    height: 210px;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}
.service-img{
    width: 50%;
}
.service-img-desc{
    font-size: 20px;
    margin-top: 15px;
}
.service-right-container{
    
    display: flex;
}
/* blog section */
.blog-container{
    width: 100%;
    background-color: white !important;
    text-align: center;
    margin: 0 auto;
}
.make-appointment{
    width: 85%;
    height: 200px;
    margin: 0 auto;
    background-color: red !important;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 3px solid gray;
    margin-right: 10px;
    padding-right: 60px;
}
.contact-img{
    width: 130px;
    margin-right: 10px;
}
.contact-number h2{
    font-size: 12px;
}
.contact-number h3{
    font-size: 28px;
}
.contact-details{
    margin: 0px 6px;
    padding-right: 10px;
}
.contact-details p{
    font-size: 20px;
}

.news-div{
    display: flex;

    
}
.news-items{
    width: 35%;
    height: 490px;
    margin: 20px;
    text-align: start;
    box-shadow: 4px 4px 6px gray;
    border-radius: 10px;
}
.news-img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.news-heading{
    font-size: 28px;
    margin: 15px 0px;
    padding-left: 10px;
}
.news-decs{
    font-size: 18px;
    padding-left: 10px;
}
.blog-heading{
    font-size: 48px;
    margin: 20px 0px;
}
.blog-desc{
    font-size: 18px;
    margin-bottom: 38px;
}

/* footer */
/* .footer-div{
    width: 100%;
    height: 70vh;
    background-image: url("./asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,0.97), rgba(0,0,0,0.96));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
} */

footer{
    width: 100%;
    height: 70vh;
    background-image: url("./asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat:no-repeat;
    background-blend-mode: overlay;
    color: white;
    line-height: 1.8em;
   
}
.footer-container{
    display: flex;
    width: 75%;
    height: 60vh;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px; */
    border-bottom: 1px solid gray;
}
.logo-box{
    width: 25%;
}
.logo-box img{
    width:170px;
}

.copy{
    text-align: center;
    padding: 15px;
}
.fa-solid{
    margin-right: 7px;
}
.footer-title{
    margin-bottom: 30px;
}
.icons{
    /* text-align: center; */
    margin-top:20px;
}
.fa-brands{
    margin: 10px;
    font-size:20px;
}